<% @webSearch.each do |web| %>
  <div class="result-div">
    <%= image_tag("x-mark.png", class: "delete-image", style: "display:none;") %>
    <div class="content">
      <p>
        <span class="result-title"> <%= link_to web.title.html_safe, 'http://'+strip_tags(web.uri) %></span><br />
        <%= web.content.html_safe %>
        <span class="result-uri"><%= link_to web.uri.html_safe, 'http://'+strip_tags(web.uri) %></span>
      </p>
    </div> 
    
    
<%= image_tag("thumbs_up.png", class: "check-image", style: "display:none;") %>
<%= image_tag("right_tab.png", class: "rtab-image", style:"display:none;") %>
  </div>
<% end %>
