<div id="recent-searches">
  <%= link_to "Recent Searches", @list %>
</div>

<div class="results clearfix">
  <% @result.each do |web| %>
    <div class="result-div">
      <%= image_tag("x-mark.png", class: "delete-image", style: "display:none;") %>
      <div class="content">
        <p>
          <span class="result-title"> <%= link_to web.title, web.uri %></span><br />
          <%= web.content.html_safe %><br />
          <span class="result-uri"><%= link_to web.uri, web.uri %></span>
        </p>
      </div> 
      <%= image_tag("check-mark.png", class: "check-image", style: "display:none;") %>
    </div>
  <% end %>
</div>
