<!DOCTYPE html>
<html>
<head>
  <title>Web Searching, Simplified</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='page <%= controller.controller_name %>'>

<div id="banner">
</div>

<div class="<%= search_bar_location %>">
  <%= render 'search/search_bar' %>
</div>

<div id="main">
  <%= yield %>
</div>

</body>
</html>
