<!DOCTYPE html>
<html>
<head>
  <title>Web Searching, Simplified</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='page <%= controller.controller_name %>'>

<div id="banner">
</div>


<div class="<%= search_bar_location %>">
  <% if on_home_page %>
    <div id="logo">
       <%= image_tag("logo.png", class: "picture") %>
    </div>
  <% end %>
  <%= render 'search/search_bar' %>
</div>

<% if on_home_page %>
    <center><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHit Enter to search!</b></center>
<% end %>


<% if !on_home_page %>
  <div id="right-nav-menu-wrapper">
    <div id="right-nav-menu">
      <%= link_to "Recent Searches", @list %>
    </div>
  </div>
<% end %>

<div id="main">
  <%= yield %>
</div>

</body>
</html>
